/*? Setting Variables - NOTE THEY NEED "--" to work*/

:root { 
    --body-bg: #111d5e;
    --nav-bg: ;
    --nav-text: rgb(238, 238, 238);
    --menu-options-text: rgb(238, 238, 238);
    --menu-options-text-hover: rgb(204, 204, 204);;
    --column-bg: ;
    --column-headers: ;
    /*TODO: Insert Columns and column hover here. */
    --spotlight-bg: ;
    --spotlight-text: ;
    --spotlight-carousel-bg: ;
    --movie-title-bg: ;
    --movie-text: ;
    --movie-grid-bg: ;
    --show-title-bg: ;
    --show-text: ;
    --show-grid-bg: ;
    --footer-bg: ;
    --footer-text: ;
    --footer-text-hover: ;
    --footer-copyright-text: ;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    box-sizing: border-box; /*Takes padding into account*/
    background-color: var(--body-bg);
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  nav {
    display: flex;
    /*Controls Heading height & color*/
    height: 10vh; /*Viewport height. 1vh = 1%*/
    background: var(--nav-bg);
  }
  
  #title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    font-weight: 400;
    letter-spacing: 0.4rem;
    color: var(--nav-text);
    font-size: 2.5rem;
  }
  
  .nav-links {
    display: flex; /*side by side*/
    list-style: none; /*removes bullet points*/
    width: 100%; /*Moves div to 50%*/
    height: 100%; /*Keeps Div usage at 100%*/
    justify-content: space-around; /*On menu items*/
    align-items: center; /*Centers within the div*/
    margin-left: auto; /*Moves to the far right*/
  }
  
  .nav-links li a {
    color: var(--menu-options-text);
    text-decoration: none; /*Removes underline*/
    font-size: 1.5rem;/*Menu options*/  
  }
  
  .navbar {
    display: flex;
    overflow: hidden;
  }
  
  .navbar a {
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: var(--menu-options-text-hover);
  }
  
  /*? Wishlist - btn specifies button */
  .nav-links li a .dropbtn {
    border: none; /*Removes border of button*/
    outline: none; /*Removes outline of button. Both of these are needed*/
    color: inherit; /*Needed to keep button color the same*/
    background-color: inherit; /*Needed to keep button background color*/
    font: inherit; /*Needed to keep button with same font*/
  }
  
  .nav-links li a .dropbtn i {
  font-size: 17px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    padding: 1.3rem 0 0 0;
    width: 100%;
    left: 0;
    z-index: 1;
  }
  
  .all-rows {
      display: flex;
  }
  
  
  .all-columns h3 {
    color: var(--column-headers);
    margin: 5px 0 10px 0;
    font-size: 1.35rem;
  }
  
  .all-columns a {
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .all-columns a:hover {
    background-color: #ddd;
  }
  
  /* Create three equal columns that floats next to each other */
  #column1 {
    box-sizing: border-box; /*33.33 includes padding and margin*/
    width: 20%;
    padding: 10px;
    background-color: var(--column-bg);
  }
  
  #column2 {
    box-sizing: border-box; /*33.33 includes padding and margin*/
    width: 25%;
    padding: 10px;
    background-color: var(--column-bg);
  
  }
  






  /*? Media Styles - MINIMUM WIDTH*/
  /*! This is for the drop down ability on hover for menu */
@media screen and (min-width: 1200px) {
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }